# Database
DATABASE_HOST=127.0.0.1
DATABASE_PORT=27018
DATABASE_NAME=climatecoin
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
DATABASE_SRV=false
AUTHENTICATION_DATABASE=admin
MONGO_INITDB_ROOT_USERNAME=strapi
MONGO_INITDB_ROOT_PASSWORD=strapi
TEST_DATABASE_NAME=climatecoin_test

# Mailgun
MAILGUN_API_KEY=xxx
MAILGUN_DOMAIN=xxx
MAILGUN_HOST=api.eu.mailgun.net
MAILGUN_EMAIL=user@example.com
MAILGUN_EMAIL_TO=user@example.com

# MagicLink
MAGIC_KEY=xxx

# Strapi
BASE_URL=http://localhost:1337
CONTENT_MANAGER_URL=/admin/plugins/content-manager/collectionType
STRAPI_UPDATE_NOTIF=false

# Algorand
ALGO_API_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ALGO_HOST_URL=http://localhost
ALGO_HOST_PORT=4001
ALGO_KMD_HOST_URL=http://localhost
ALGO_KMD_HOST_PORT=4002
ALGO_INDEXER_HOST_URL=http://localhost
ALGO_INDEXER_HOST_PORT=8980
ALGO_MNEMONIC="xxx"

APP_ID=90425303
DUMP_APP_ID=93095188
CLIMATECOIN_ASA_ID=90425333
USDC_ASA_ID=10458941

# Currency
CURRENCY_API=https://api.exchangerate.host/latest?base=USD
