node_modules
build
.cache
.env
docker

.idea
.vscode

############################
# Strapi
############################
.strapi-updater.json
license.txt
exports
*.cache
build
public/*

# Other artifacts
.mail-queue.db
